.container_home{
    height: 85vh;
    background-image: url(../../img/Greeting.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 5vh;
}